{% extends '_main.twig' %}

{% block head_style %}
{% endblock %}

{% block footer_inner__ %}
    <footer class="container container-medium center">
        <p class="mb0">&copy; 2020 Your Page</p>
        <p class="mt0 light">powered by <a href="https://github.com/bemit/create-amp-page">create-amp-page</a></p>
    </footer>
{% endblock %}
